* {
box-sizing: border-box;
border: thin solid black;
}

html, body { margin: 0; height: 100%; }

.celda {
width: 33.33333%;
height: 100%;
float: left; /* también con display: inline; */
font-size: 3em;
text-align: center;
vertical-align: center

}

.fila {
height:33.33333%;
}

h3 {
  text-align: center;
  style="color:Tomato;
  font-size: 5em;

}
